/* Styles for the pocket indicator */
.pocket-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

/* Style for the table container to enable scrolling */
.table-container {
  max-height: 34vh;
  overflow-y: auto;
}

/* Remove the border of the AG Grid container */
.ag-theme-alpine {
  border: none;
}

/* Remove border around the header and cells */
.ag-header,
.ag-cell {
  border: none !important;
}

/* Ensure the table container does not have an outline */
.table-container {
  outline: none;
}

.amount-positive {
  color: #17b26a;
}
.amount-negative {
  color: #dc3545;
}

.green-cell {
  color: #17b26a;
  background-color: #ecfdf3;
}
.red-cell {
  color: #dc3545;
  background-color: #FEF3F2;
}
.purple-cell {
  color: #6372eb;
  background-color: #E8EAFC;
}
.yellow-cell {
  background-color: #FFF7E6;
  color: #febf2d;
}
